@import "src/styles/variables.scss";

.header {
    background-color: $black;
    display: inline-flex;
    width: 100%;
    height: 67px;
    align-items: center;

    &__logo {
        margin-left: 165px;
    }

    &__nav {
        display: inline-flex;
        margin-left: 92px;
        gap: 50px;

        &_btn {
            border: none;
            outline: none;
            background-color: transparent;
            color: $background;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 104px;
            height: 39px;
            gap: 0.4rem;
            cursor: pointer;
        }
    }
}

.current {
    background-color: $blue;
    border-radius: 2px;
}